body {
	position : absolute;
	left : 0;
	top : 0;
	width : 100%;
	height : 100%;
	margin : 0;
}

.slide {
	position : fixed;
	display : block;
	width : 100%;
	height : 100%;
	padding : 50px;
	font-size : 72px;
	color : white;
	text-align : center;
	-webkit-box-sizing : border-box;
	box-sizing : border-box;
}

.green {
	background-color : green;
}

.red {
	background-color : red;
}

.blue {
	background-color : blue;
}

.orange {
	background-color : orange;
}

.purple {
	background-color : purple;
}